html {height: 101%;}

body {
	font-family: arial;
	//margin: 0px; /* for IE6 / IE7 */
	//background-color: #F8F8F8 !important; /* e2e2e2 */
	background-image: url('images/whitenoise-361x370.png');
}

.container-other {
	max-width: 960px;
	margin: 0px auto;
	margin-top: 60px;
}
/* make left and right DIV container scrollable */
#right {
	/*  http://www.howtocreate.co.uk/tutorials/javascript/browserspecific (Element position with scrolling offsets)
	make sure that every element with an overflow of anything other than "visible" also has a position
	style set to something other than the default "static". This way, they will all appear in the offsetParent
	chain, and can be easily subtracted in the same loop that adds the offsetLeft and offsetTop. */
	position: relative;
	margin: auto;
	width: 100%;
	height:600px;
	/* make it visible */
	margin-top: 108px;
}

/* timetable */
#table2 {
	/* align table to the right */
	margin-left: -3px !important;
}
.panel-fixed {
	margin-top: 52px;
	min-width: 1200px;
	left: 0;
	right: 0;
	border-color: #EEE !important;
	border-radius: 0px !important;
	z-index: 99;
	position: fixed;
	-webkit-transform: translateZ(0);
}
.panel-fixed .panel-body {
	padding: 3px;
}
.panel-fixed .form-control {
	width: 120px !important;
}

/* table cells */
.table1-header td, .table-container td, .table-temp td,
.table1-header th, .table-container th, .table-temp th
{ min-width: 70px; }

#right table td,th {
	border-style: double;
	height: 23px;
	text-align: center !important;
	font-size: 10pt;
	border-width: 0px 1px 1px 0px;
	border-color: #DDC5B5;
	font-weight: normal;
}

#table2 tbody td:hover {
	background-color: #EEDEEE;
}
/* last row and last column without border */
.noborder {
	border-width: 0px;
}

/* green objects */
.blue {
	border-style: none !important;
	height: 22px;
    z-index: 1 !important;
    position: absolute;
    margin-top: -11px;
    width: 69px;
}

.marked {
	border: 3px solid #000 !important;
	width: 69px;
	height: 22px;
	line-height: 13px !important;
}
.temp-marked {
	background-color: rgba(64, 149, 201, 0.25);
    position: absolute;
    width: 69px;
    height: 23px;
    margin-top: -12px;
    z-index: 3;
}
.free {
	background-color: #EEE;
}
.td-marked {
	background-color: #F27979 !important;
}
/* dark cells (first column and table header) */
.dark, .redips-mark {
	background-color: #e0e0e0;
	width: 65px;	
}
.today {
	-webkit-box-shadow: 1px 1px 4px 2px #C3E6FF;
	-moz-box-shadow: 1px 1px 4px 2px #C3E6FF;
	box-shadow: 1px 1px 4px 2px #C3E6FF;
}
.machine-row {
	background-color: #C3D8E8;
}
.table1-header{
	z-index: 8; 
	margin-left: -2px !important;
}
.datepick-popup {
	z-index: 10000 !important;
}
.left-header{
	float:left; 
	border-left: 7px solid #BBB;
	margin-top: 155px;
	position: fixed;
	z-index: 10;
	-webkit-transform: translateZ(0); 
}
.left-header th label, .left-header input[type=checkbox]{
	margin: 0px;
}
.table-container{
	float:left;
}
#leftUppercorner {
	width:69px; 
	height:47px; 
	background-color: #E0E0E0; 
	margin-top:108px; 
	border-top: 7px solid #5C98CC;
	border-left: 7px solid #BBB;
	position: fixed; 
	-webkit-transform: translateZ(0);
	z-index: 11;
}
#status {
	width: 100%;
	height: 15px;
	background-color: #DDD;
	margin-top: 93px;
	position: fixed;
	z-index: 12;
	-webkit-transform: translateZ(0);
}
#status div {
	font-size: 12px;
	margin-right: 10px;
	color: #555;
	float: right;
}
.day-td {
	background: -moz-linear-gradient(top, #3379b7 0%, #3379b7 0%, #639dcf 0%, #639dcf 0%, #3379b7 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #3379b7), color-stop(0%, #3379b7), color-stop(0%, #639dcf), color-stop(0%, #639dcf), color-stop(100%, #3379b7));
	background: -webkit-linear-gradient(top, #3379b7 0%, #3379b7 0%, #639dcf 0%, #639dcf 0%, #3379b7 100%);
	background: -o-linear-gradient(top, #3379b7 0%, #3379b7 0%, #639dcf 0%, #639dcf 0%, #3379b7 100%);
	background: -ms-linear-gradient(top, #3379b7 0%, #3379b7 0%, #639dcf 0%, #639dcf 0%, #3379b7 100%);
	background: linear-gradient(to bottom, #3379b7 0%, #3379b7 0%, #639dcf 0%, #639dcf 0%, #3379b7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3379b7', endColorstr='#3379b7', GradientType=0 );
	color: white !important;
	font-size: 12pt !important;
	font-weight: bold !important;
}
.blank {
	background-color: #E0E0E0 !important;
	border-color: #E0E0E0 !important;
}
.table1-header .header-time td{
	background-color: #CCC ;
}

.footer {
  //position: absolute;
  padding-top: 20px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  //background-color: #F8F8F8;
  text-align: center;
  color: #A77F8B;
  //border-top: 1px solid #E7E7E7;
}

.container-fluid {
	background-color: white;
}
.page-date-header {
	text-align: center;
	background-color: #B5FFAB;
	font-size: 16px;
}
.modal-open {
    overflow: scroll !important;
}
#marked-modal .modal-dialog {
	width: 150px !important;
}
#marked-modal .modal-content{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none; 
	border-radius: 2px;
	border: 1px solid #777;
}
#marked-modal .modal-dialog, #error-modal .modal-dialog {
    margin-top: 0% !important;
    float: left !important;
}
#marked-modal .modal-body{
	padding: 0px;
}
#marked-modal .btn {
	border-radius: 0px;
	border-width: 1px;
}
#calendarTable, #productsTable {
	max-width: 960px;
	margin: 0px auto;
}
#calendarTable td, #productsTable td, #produceTable td{
	padding: 0px;
    height: 25px;
    vertical-align: baseline;
}
#productsInfoTable td {
	padding: 0px;
}
#calendarTable thead th, #productsTable thead th, #productsInfoTable thead th{
	border-style: inherit;
	//border-color: #ccc;
}
#calendarTable .checkbox { margin-top: 0px; margin-bottom: 0px;}
#productsTable td, #productsInfoTable td, #produceTable td {text-align: center;}
#productsTable button {margin: 0px !important;}
#productModal .checkbox { margin-top: 0px; margin-bottom: 0px;}

.floatingHeader {
  position: fixed;
  top: 0;
  visibility: hidden;
  background-color: #FFF;
  z-index: 10;
  margin-top: 44px;

}
.floatingHeader th {
  line-height: 35px !important;
  background-color: white;
}
#labelProduct {
	font-size: 30px !important; 
	font-weight: 500 !important; 
	margin-top: 20px;
    margin-bottom: 10px;
    padding: 0px;
}
#bttn-add-product {
	font-size:0.8em;
	padding: 0px 2px 4px 4px !important;
}
#deselect-machine-bttn {
	padding: 12px 23px 12px 23px !important;
	background-color: #E0E0E0;
	border-radius: 0px;
}
#labelProduct > button { vertical-align: middle }

.tt-open {
	background-color: white;
	width: 150px;

	border: 1px solid #CCC;
}
.tt-selectable {
	border-bottom: 1px solid #CCC;
}
.tt-selectable:hover{
	background-color: #EEE;
}

.button-checkbox .btn-xs, .button-checkbox-time .btn-xs {
	border-radius: 0px;
	border-color: #FFF;
	border-size: 2px;
	position: relative;
	z-index: 5;
}
.tooltip {
	z-index: 0 !important;
}
#table2 .tooltip-inner {
	min-width: 80px;
	//background-color: #DDE6F0 !important;
	//color: #000 !important;
	border-top: 1px solid #DDE6F0 !important;
}

/* Error custom tooltip class */
.tooltip-error .tooltip-inner{
	background-color: #000 !important;
	color: #FFF !important;
	max-width: 400px !important;
	padding: 8px 12px 10px 12px;
}
.tooltip-error .tooltip {
	font-size: 16px !important;
	z-index: 0 !important;
}
/* Error custom tooltip class */
input#product, input#product {
    text-transform: uppercase;
}
#mainNavBar {
	border: 1px #eee solid;
}
#mainNavBar ul.nav.navbar-nav li a, #mainNavBar div.navbar-header a.navbar-brand{
	color: #5A0000;
}
#mainNavBar div.navbar-header a.navbar-brand{
	 margin-left: 40px;
}
#mainNavBar ul.nav.navbar-nav li.active a{
	background-color: #EAF5FF;
}
.btn, .form-control, .panel, .panel-heading, .input-group-addon {
	border-radius: 0px !important;
}


/*
################## CSS LOADER FOR AJAX REQUESTS ##################
*/
.cssload-loader-inner {
		bottom: 0;
		height: 58px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 97px;
}
.cssload-cssload-loader-line-wrap-wrap {
		animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
		-o-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
		-ms-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
		-webkit-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
		-moz-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
		box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		height: 49px;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		transform-origin: 50% 100%;
		-o-transform-origin: 50% 100%;
		-ms-transform-origin: 50% 100%;
		-webkit-transform-origin: 50% 100%;
		-moz-transform-origin: 50% 100%;
		width: 97px;
}
.cssload-loader-line-wrap {
		border: 4px solid transparent;
		border-radius: 100%;
		-o-border-radius: 100%;
		-ms-border-radius: 100%;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		height: 97px;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 97px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(1) { animation-delay: -57.5ms;
		-o-animation-delay: -57.5ms;
		-ms-animation-delay: -57.5ms;
		-webkit-animation-delay: -57.5ms;
		-moz-animation-delay: -57.5ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(2) { animation-delay: -115ms;
		-o-animation-delay: -115ms;
		-ms-animation-delay: -115ms;
		-webkit-animation-delay: -115ms;
		-moz-animation-delay: -115ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(3) { animation-delay: -172.5ms;
		-o-animation-delay: -172.5ms;
		-ms-animation-delay: -172.5ms;
		-webkit-animation-delay: -172.5ms;
		-moz-animation-delay: -172.5ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(4) { animation-delay: -230ms;
		-o-animation-delay: -230ms;
		-ms-animation-delay: -230ms;
		-webkit-animation-delay: -230ms;
		-moz-animation-delay: -230ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(5) { animation-delay: -287.5ms;
		-o-animation-delay: -287.5ms;
		-ms-animation-delay: -287.5ms;
		-webkit-animation-delay: -287.5ms;
		-moz-animation-delay: -287.5ms; }

.cssload-cssload-loader-line-wrap-wrap:nth-child(1) .cssload-loader-line-wrap {
		border-color: rgb(234,71,71);
		height: 88px;
		width: 88px;
		top: 7px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(2) .cssload-loader-line-wrap {
		border-color: rgb(234,234,71);
		height: 74px;
		width: 74px;
		top: 14px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(3) .cssload-loader-line-wrap {
		border-color: rgb(71,234,71);
		height: 60px;
		width: 60px;
		top: 20px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(4) .cssload-loader-line-wrap {
		border-color: rgb(71,234,234);
		height: 47px;
		width: 47px;
		top: 27px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(5) .cssload-loader-line-wrap {
		border-color: rgb(71,71,234);
		height: 33px;
		width: 33px;
		top: 34px;
}

@keyframes cssload-spin {
		0%, 15% {
		transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-spin {
		0%, 15% {
		-o-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-spin {
		0%, 15% {
		-ms-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-spin {
		0%, 15% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-spin {
		0%, 15% {
		-moz-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}